<form action="">
  <div class="input-group">
    <div>
      <label for="">initial-invest</label>
      <input type="number" name="initial-invest" id="initial-invest" />
    </div>

    <div>
      <label for="">annual-invest</label>
      <input type="number" name="annual-invest" id="annual-invest" />
    </div>
  </div>
  <div class="input-group">
    <div>
      <label for="">expected-return</label>
      <input type="number" name="expected-return" id="expected-return" />
    </div>
    <div>
      <label for="">duration</label>
      <input type="number" name="duration" id="duration" />
    </div>
  </div>
  <button type="submit">Calculate</button>
</form>
